<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
  <% if signed_in? %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <button type="button" class="btn btn-lg btn-primary" disabled><%= link_to "Salir", destroy_user_session_path, method: :delete %></button>
  <% else %>
    <button class="btn btn-outline-success" type="button"><%= link_to "Registrarse", new_user_registration_path %></button>
    <button class="btn btn-sm btn-outline-secondary" type="button"><%= link_to "Ingresar", new_user_session_path %></button>
  <% end %>
  </form>
</nav>

